@if (data) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>{{data.data.name}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><span style="color: darkred">Descriptions:</span> {{data.data.description}}</p>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Query Found in Files:</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            @for (f of files; track f.id) {
              <mat-list-item>
                <span matListItemTitle>
                  File name: {{f.data[0].name}}
                </span>
                    <span matListItemLine>
                  File ID: {{f.id}}
                </span>
                    <span matListItemLine>
                  Description: {{f.data[0].description}}
                </span>
                    <span matListItemLine>
                  File type: {{f.data[0].file_type}}
                </span>
                    <span matListItemLine>
                  File category: {{f.data[0].file_category}}
                </span>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
}
