@if (file) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{file.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <p>
        <span [style.color]="'red'">ID: </span> <span>{{file.id}}</span>
      </p>
      <p>
        <span [style.color]="'red'">Type: </span> <span>{{file.file_type}}</span>
      </p>
      <p>
        <span [style.color]="'red'">Project_id: </span> <span>{{file.project_id}}</span>
      </p>
      <p>
        <span [style.color]="'red'">Category: </span> <span>{{file.file_category}}</span>
      </p>
      <p>
        <span [style.color]="'red'">Description: </span> <span>{{file.description}}</span>
      </p>
      <p>
        <span [style.color]="'red'">Found terms:</span> {{found_terms.join("; ")}}
      </p>
      <p>
        <span [style.color]="'red'">Found lines:</span> {{found_lines.join("; ")}}
      </p>
      @if (analysis){
        @if (Object.keys(analysis).length > 0) {
          <mat-form-field>
            <mat-label>Analysis</mat-label>
            <mat-select [(ngModel)]="selectedAnalysis">
              <mat-option [value]="'No analysis selected'">No analysis selected</mat-option>
              @for (i of Object.keys(analysis); track i) {
                <mat-option [value]="i">{{i}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        @if (selectedAnalysis !== 'No analysis selected') {
          <table mat-table [dataSource]="analysis[selectedAnalysis].comparison_matrix">
            <ng-container matColumnDef="Condition A">
              <th mat-header-cell *matHeaderCellDef> Condition A </th>
              <td mat-cell *matCellDef="let element"> {{element["Condition A"]}} </td>
            </ng-container>
            <ng-container matColumnDef="Condition B">
              <th mat-header-cell *matHeaderCellDef> Condition B </th>
              <td mat-cell *matCellDef="let element"> {{element["Condition B"]}} </td>
            </ng-container>
            <ng-container matColumnDef="Fold Change Column">
              <th mat-header-cell *matHeaderCellDef> Fold Change Column </th>
              <td mat-cell *matCellDef="let element"> {{element["Fold Change Column"]}} </td>
            </ng-container>
            <ng-container matColumnDef="Significance column">
              <th mat-header-cell *matHeaderCellDef> Significance Column </th>
              <td mat-cell *matCellDef="let element"> {{element["Significance column"]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="[ 'Condition A', 'Condition B', 'Fold Change Column', 'Significance column']"></tr>
            <tr mat-row *matRowDef="let row; columns: [ 'Condition A', 'Condition B', 'Fold Change Column', 'Significance column']"></tr>
          </table>
        }
      }



      <mat-paginator [length]="data.count()"
                     [pageSize]="pageSize"
                     (page)="handlePageEvent($event)"
                     aria-label="Select page">
      </mat-paginator>
      @for (f of displayData; track f.id) {
        <div style="padding: 20px">
          <mat-card>
            <mat-card-content [style.background]="'black'" [style.color]="'white'">
              <p>Query context</p>
              <p [innerHtml]="f.headline"></p>
            </mat-card-content>
          </mat-card>
        </div>
      }

      @if (server === 'host') {
        <mat-card-footer>
          <button mat-raised-button color="primary" (click)="downloadFileHandler()">Download</button>
        </mat-card-footer>
      } @else {
        <mat-card-footer>
          <div style="display: flex; gap: 20px">
            <button mat-raised-button color="accent" (click)="requestFileHandler()">Request</button>
            @if (websocket.uploadedFileMap[server]){
              @if (websocket.uploadedFileMap[server][file.id]) {
                <button mat-raised-button color="primary" (click)="downloadFileHandler()">Download</button>
              }
            }
          </div>
        </mat-card-footer>

      }

    </mat-card-content>

  </mat-card>
}

