<div style="display: flex; justify-content: center; max-height: 425px; padding: 20px; gap:20px">
  <div style="flex-grow: 1">
    <h1>Search Query:</h1>
    <form [formGroup]="form" (ngSubmit)="search()">
      <div style="display: flex; gap: 20px; flex-wrap: wrap">
        <mat-form-field style="width: 400px">
          <mat-label>Search text-file</mat-label>
          <textarea matInput formControlName="query" style="max-height: 400px"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description field</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" type="submit">Search</button>
      </div>

    </form>
  </div>
  <mat-card style="width: 300px">
    <mat-card-header>
      <mat-card-title>Connection logs</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding: 20px; height: 200px; display: flex; flex-direction: column-reverse; overflow: auto">
      @for (m of websocketService.websocketLogs; track m.message) {
        <p>
          <span [style.color]="'red'">{{m.senderID}}:</span> <span>{{m.message}}</span> <span [style.color]="channelTypeColorMap[m.channelType]">({{m.channelType}})</span>
        </p>
      } @empty {
        <p style="color: white">No log data yet</p>
      }
    </mat-card-content>
  </mat-card>
</div>
@if (searching) {
  <div style="padding: 20px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Search progress</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="display: flex; flex-wrap: wrap; gap: 20px">
          @for (s of searchingServers; track s) {
              <div style="display: flex">
                <p>{{s}}</p>: @if(searchCompleted[s]){ <span style="color: #46a35e">completed</span>}@else{<mat-progress-spinner mode="indeterminate" color="primary" diameter="20"></mat-progress-spinner>}
              </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
}


<div style="display: flex; padding: 20px; gap: 20px; align-items: center">
  <form [formGroup]="form" *ngIf="servers.length >0">
    <mat-form-field>
      <mat-label>Server</mat-label>
      <mat-select formControlName="server">
        @for (s of servers; track s) {
          <mat-option [value]="s">{{s}}</mat-option>
        } @empty {
          <mat-option [value]="null">No servers</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button (click)="viewProjectFilterDialog()" [color]="'primary'">Filter by projects</button>
  </div>
  <div>
    <button mat-raised-button (click)="resetFilter()" [color]="'primary'">Reset filter</button>
  </div>
</div>

@if (currentDisplay) {
  @if (currentDisplay.count() > 0) {
    <div style="display: flex; flex-direction: column; gap: 20px; padding: 20px">
      <h1>Results:</h1>
      @for (f of currentDisplay; track f) {
        <app-file-view [data]="f.data" [server]="form.value['server']" [pyreName]="form.value['pyreName']"></app-file-view>
      } @empty {
        <p>No results yet</p>
      }
    </div>
  }

}

